@import './variable.less';
.pl4{
		padding-left: 4px;
	}
.pr4{
		padding-right: 4px;
}
.bt{
	border-top: @base_boder;
}
.bb{
	border-bottom: @base_boder;
}
.br{
	border-right: @base_boder;
}
.br{
	border-left: @base_boder;
}
f
.flex_center{
		display: flex;
		align-items: center;
	}
.flex_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex_wrap{
	flex-wrap: wrap;
}